body{
	background: #FFF;
	font-family: quicksand;
}

.wrapper{
	width: 1000px;
	margin: 0 auto;
	position: relative;

}

header{
	position: fixed;
	z-index: 1;
	background: #FFF;
	width: 100%;
}

header img{
	height: 100px;
	width: 100px;
	display: inline;
}

nav{
	display: inline;
	position: relative;
	float: right;
	padding-top: 50px;
}

nav ul{
	display: inline;
	font-family: quicksand;
	font-weight: bold;

}

nav li{
	text-decoration: none;
	list-style: none;
	display: inline;
	margin-right: 30px;
}

div#main{
	height: 600px;
	margin: 0 auto;
	background-image: url("../img/campus.jpg");
	background-repeat: none;
	background-position: center;
	background-size: cover;
	
}

div#title{
	padding-top: 200px;
	margin: 0 auto;
	width: 400px;
	text-align: center;
}

div#offer{
	background-color: #A4DBC5;
	height: 250px;
}

div#text{
	padding-top: 50px;
	margin: 0 auto;
	width: 600px;
	text-align: center;
}

div#icons{
	height: 300px;
}

div.columns{
	float:left;
	width: 33%;
	display: inline-block;
	text-align: center;	
	
}

div.columns img{
	width: 150px;

}



div#text-wrap{
	width: 500px;
	height: 400px;
	text-align: center;
	margin: 0 auto;
	font-size: 26px;
}

div#text-wrap a{
	text-decoration: none;
}

div#stories{
	background: url("../img/window.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 400px;
	display: block;
}

div#stories h2{
	
	color: #FFF;
}

div#courses{
	width: 66%;
	position: relative;
	float: left;
	display: inline;
}

div#course-column{
	width: 45%;
	position: relative;
	float: left;
	display: inline;
}

div#twitter{
	width: 33%;
	position: relative;
	display: inline;
	float: right;
}

